@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --green-200-lighter: hsl(148, 38%, 91%);
        --green-600-medium: hsl(169, 82%, 27%);
        --green-700-darker: hsl(169, 84%, 19%);
        --red: hsl(0, 66%, 54%);
        --white: hsl(0, 0%, 100%);
        --grey-500-medium: hsl(186, 15%, 59%);
        --grey-900-darker: hsl(187, 24%, 22%);
    }
    @font-face {
        font-family: "Karla";
        src: url(../fonts/Karla-Bold.ttf) format("trutype");
        font-display: swap;
        font-style: normal;
        font-weight: 700;
    }
    @font-face {
        font-family: "Karla";
        src: url(../fonts/Karla-Regular.ttf) format("trutype");
        font-display: swap;
        font-style: normal;
        font-weight: 400;
    }
}

@layer components {
    body {
        @apply bg-green-200-lighter font-karla flex flex-col justify-center items-center min-h-screen;
    }
    .container {
        @apply ~mobile/md:~max-w-xs/xl md:~max-w-lg/3xl bg-white rounded-3xl ~mobile/desktop:~p-6/10 flex flex-col gap-8 my-8
    }
    .form {
        @apply flex flex-col gap-6;
    }
    .label {
        @apply text-grey-900-darker
    }
    .label svg {
        @apply inline align-top;
    }
    .input-field {
        @apply border-2 w-full py-3 rounded-lg border-grey-500-medium px-5 text-lg hover:border-green-600-medium focus:border-green-600-medium outline-none
    }
    .form-control {
        @apply flex flex-col gap-2 min-w-0 justify-around w-full
    }
    fieldset.form-control {
        @apply gap-4;
    }
    .inputs-wrapper {
        @apply flex flex-col gap-6 md:flex-row
    }
    .radios-wrapper {
        @apply flex flex-col gap-4 md:flex-row
    }
    
    .input-textarea {
        @apply h-60 resize-none;
    }
    .checkbox-wrapper {
        @apply flex gap-4 items-center
    }
    .input-checkbox, .input-radio {
        @apply h-4 w-4 border-2 opacity-0 absolute
    }
    .input-checkbox-custom, .input-radio-custom {
        @apply relative w-5 h-5 border-2 aspect-square
    }
    .input-checkbox-custom {
        @apply border-grey-500-medium cursor-pointer
    }
    .input-radio-custom {
        @apply rounded-full border-grey-500-medium;
    }
    .input-radio-wrapper {
        @apply border-2 py-3 rounded-lg border-grey-500-medium px-6 text-lg flex gap-2 items-center cursor-pointer w-full;
    }
    .success-modal {
        @apply fixed z-20 bg-grey-900-darker text-white p-6 rounded-xl ~mobile/desktop:~max-w-72/3xl top-5 grid grid-cols-[auto_1fr] grid-rows-[auto_auto] items-center gap-x-3 gap-y-3;
    }
    .success-modal > p {
        @apply col-span-2
    }

    .btn {
        @apply bg-green-600-medium text-white py-4 w-full rounded-lg font-bold text-lg hover:bg-green-700-darker focus:bg-green-700-darker outline-none
    }

    /* Text Styles */
    .header {
        @apply text-3xl font-bold;
    }
    .success-modal > h2 {
        @apply text-lg font-bold;
    }
}

@layer utilities {
    .input-error {
        @apply border-red;
    }
    .error-msg {
        @apply text-red
    }
    .input-radio:checked + .input-radio-custom {
        @apply bg-[url(../images/icon-radio-selected.svg)] bg-no-repeat bg-cover bg-center border-none;
    }
    .input-radio-wrapper:has(> .input-radio:checked) {
        @apply bg-green-200-lighter
    }
    .input-checkbox:checked + .input-checkbox-custom {
        @apply bg-[url(../images/icon-checkbox-check.svg)] bg-no-repeat bg-contain bg-center border-none;
    }
    .input-checkbox:focus + .input-checkbox-custom {
        @apply border-green-600-medium
    }
}